body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header {
    flex: 0 40px;
    color: navy;
    background-color: lightgray;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

footer {
    flex: 0 60px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
