.VoteCount {
    display: inline-block;
    text-align: right;
    width: 60%;
    margin: 0;
    font-size: x-large;
}

img {
    margin-top: 5px;
    border-radius: 15px;
    border-color: navy;
    border-style: solid;
    border-width: 4px;
}

.StockName {
    width: 30%;
    display: inline-block;
    margin: 0;
    font-size: x-large;
    text-decoration: underline;
}

.stocks {
    display: flex;
    flex-direction: column;
}