input {
    background-color: white;
    border-color: navy;
    font-size: medium;
    margin-top: 5px;
    color:navy;
}

.form {
    height: auto;
} 


input[type="text"] input [type="password"] {
    width: 100%;
    height: 40px
}